<section id="portfolio">
  <div class="container">
    <div class="row text-center" id="heading">
      <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
          <h3>Our Works</h3>
              <p>Take a look, Taste our cook</p>
              <hr class= "full">
              <br/>
        </div>
    </div>
    <div class="main_content">
      <div class="row port">
        <div class="col-md-8 col-md-offset-2 text-center button-group" id="filters">
          <button type="button" class="btn btn-default is-checked" data-filter="*">All</button>
          <button type="button" class="btn btn-default" data-filter=".web">Web Design</button>
          <button type="button" class="btn btn-default" data-filter=".game">Game</button>
          <button type="button" class="btn btn-default" data-filter=".app">App</button>
        </div>
      </div>	<!-- row -->
      <div class="row">
        <div class="isotope" id="port-items">
          <div class="col-md-4 col-sm-6 col-xs-6 element-item web" data-category="web">
            <img class="img-responsive" src="img/web-design-1.jpg" >
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 element-item game" data-category="game">
            <img class="img-responsive" src="img/game-2.jpg">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 element-item app" data-category="app">
            <img class="img-responsive" src="img/app-1.jpg">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 element-item web" data-category="web">
            <img class="img-responsive" src="img/web-design-2.jpg">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 element-item game" data-category="game">
            <img class="img-responsive" src="img/game-1.jpg">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 element-item app" data-category="app">
            <img class="img-responsive" src="img/app-2.jpg">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 element-item web" data-category="web">
            <img class="img-responsive" src="img/web-design-3.jpg">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 element-item game" data-category="game">
            <img class="img-responsive" src="img/game-3.jpg">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 element-item app" data-category="app">
            <img class="img-responsive" src="img/app-3.jpg">
          </div>
        </div>	<!-- isotope -->
      </div>	<!-- row -->
    </div>	<!-- main_content -->
  </div>	<!-- container -->
</section>
