<section id="about">
  <div class="container">
    <div class="row text-center" id="heading">
      <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
        <h3>{{ 'About.Title' | translate }}</h3>
                <p>We are here, Nothing to fear</p>
                <hr class="full">
                <br/>
      </div>
    </div>	<!-- row -->
    <div class="row about-us-text">
      <div class="col-md-8 col-md-offset-2">
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>	<!-- row -->
    <div class="row main_content">
      <div class="col-md-4 wow animated zoomIn" data-wow-delay="0.1s">
        <figure>
          <img class="pro img-responsive center-block" src="img/3-col-icons-web.png">
        </figure>
        <h5 class="text-center">Web Development</h5>
        <div class="row">
          <div class="col-xs-12 text-center" style="border-right: 1px solid #f4f4f4">
                            <div style="display: inline; width: 60px; height: 60px;">
                                <input type="text" class="knob" data-readonly="true" value="90" data-width="60" data-height="60" data-fgcolor="#39CCCC" readonly="readonly" style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; /* color: rgb(57, 204, 204); */ padding: 0px; -webkit-appearance: none; background: none;">
                            </div>
                        </div>	<!-- col-xs-12 -->
        </div>	<!-- row -->
      </div>	<!-- col-md-4 -->

      <div class="col-md-4 wow animated zoomIn" data-wow-delay="0.1s">
        <figure>
          <img class="pro img-responsive center-block" src="img/3-col-icons-android.png">
        </figure>
        <h5 class="text-center">Android Development</h5>
        <div class="row">
          <div class="col-xs-12 text-center" style="border-right: 1px solid #f4f4f4">
                          <div style="display: inline; width: 60px; height: 60px;">
                            <input type="text" class="knob" data-readonly="true" value="80" data-width="60" data-height="60" data-fgcolor="#39CCCC" readonly="readonly" style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; /* color: rgb(57, 204, 204); */ padding: 0px; -webkit-appearance: none; background: none;">
                          </div>
                      </div>	<!-- col-xs-12 -->
        </div>	<!-- row -->
      </div>	<!-- col-md-4 -->

      <div class="col-md-4 wow animated zoomIn" data-wow-delay="0.1s">
        <figure>
          <img class="pro img-responsive center-block" src="img/3-col-icons-iphone.png">
        </figure>
        <h5 class="text-center">iOS Development</h5>
        <div class="row">
          <div class="col-xs-12 text-center" style="border-right: 1px solid #f4f4f4">
                          <div style="display: inline; width: 60px; height: 60px;">
                              <input type="text" class="knob" data-readonly="true" value="75" data-width="60" data-height="60" data-fgcolor="#39CCCC" readonly="readonly" style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; /* color: rgb(57, 204, 204); */ padding: 0px; -webkit-appearance: none; background: none;">
                        </div>
                    </div>	<!-- col-xs-12 -->
        </div>	<!-- row -->
      </div>	<!-- col-md-4 -->
    </div><!-- row main_content -->
  </div>	<!-- container -->
</section>	<!-- about us -->
