<div id="wrapper">
  <div id="overlay-1">
    <section id= "navigation">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="ion-navicon"></span>
                </button>
                <a class="navbar-brand" href="#">{{ 'Home.Menu.Home' | translate }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="#about">{{ 'Home.Menu.About' | translate }}</a></li>
                  <li><a href="#our_service">{{ 'Home.Menu.Service' | translate }}</a></li>
                  <li><a href="#team">{{ 'Home.Menu.Team' | translate }}</a></li>
                  <li><a href="#portfolio">{{ 'Home.Menu.Portfolio' | translate }}</a></li>
                  <li><a href="#blog">{{ 'Home.Menu.Blog' | translate }}</a></li>
                  <li><a href="#contact">{{ 'Home.Menu.Contact' | translate }}</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'Home.Menu.Language' | translate }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" (click)="translationService.switchLanguage('es')">es</a></li><br>
                    <li><a href="#" (click)="translationService.switchLanguage('en')">en</a></li>
                  </ul>
                </li>
              </ul>
            </div>	<!-- collapse navbar-collapse -->
          </div>	<!-- container-fluid -->
      </nav>	<!-- navbar -->
    </section>	<!-- #navigation -->
    <section id="starting">
      <div class="text-center starting-text">
        <h1 class="rene">{{ 'Home.Title' | translate }}</h1>
        <h2>{{ 'Home.Intro' | translate }}</h2>
      </div>
    </section>
    <div id="bottom" class="bottom text-center">
          <a href="#about"><i class="ion-ios7-arrow-down"></i></a>
      </div>
  </div><!-- overlay-1 -->
</div>	<!-- wrapper -->
