<div id="wrapper">
  <div id="overlay-1">
    <section id= "navigation">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="ion-navicon"></span>
                </button>
                <a class="navbar-brand" href="#">Renessa</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#our_service">Service</a></li>
                  <li><a href="#team">Team</a></li>
                  <li><a href="#portfolio">Portfolio</a></li>
                  <li><a href="#blog">Blog</a></li>
                  <li><a href="#contact">Contact us</a></li>
              </ul>
            </div>	<!-- collapse navbar-collapse -->
          </div>	<!-- container-fluid -->
      </nav>	<!-- navbar -->
    </section>	<!-- #navigation -->
    <section id="starting">
      <div class="text-center starting-text">
        <h1 class="rene">RENESSA</h1>
        <h2>Welcome to our world</h2>
      </div>
    </section>
    <div id="bottom" class="bottom text-center">
          <a href="#about"><i class="ion-ios7-arrow-down"></i></a>
      </div>
  </div><!-- overlay-1 -->
</div>	<!-- wrapper -->
